<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>人员主文件</title>
	<link rel="stylesheet" href="../../layui/css/layui.css">
	<link rel="stylesheet" href="../../css/common.css">
</head>
<body style="width: 100%;padding: 10px 20px;box-sizing: border-box;min-width: 900px;">
<form class="layui-form" action="">
	<div class="layui-form-item">
		<div class="layui-input-block" style="margin-left: 0">
			<ul class="layui-nav" style="background-color: transparent;">
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="上一条" id="menu-prev">
						<i class="layui-icon">&#xe603;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="下一条" id="menu-next">
						<i class="layui-icon">&#xe602;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="新增" id="menu-add">
						<i class="layui-icon">&#xe654;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="修改" id="menu-update" disabled>
						<i class="layui-icon">&#xe642;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="删除" id="menu-delete">
						<i class="layui-icon">&#xe640;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="审核" id="menu-adopt" disabled="">
						<i class="layui-icon">&#xe605;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="反审核" id="menu-refuse">
						<i class="layui-icon">&#x1006;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="刷新" id="menu-refresh">
						<i class="layui-icon">&#x1002;</i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">人员编号</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" placeholder="请输入标题"
			       autocomplete="off" class="layui-input">
		</div>
		<label class="layui-form-label">所属部门</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" placeholder="请输入标题"
			       autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">人员姓名</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" placeholder="请输入标题"
			       autocomplete="off" class="layui-input">
		</div>
		<label class="layui-form-label">性别</label>
		<div class="layui-input-inline">
			<select name="city" lay-verify="required">
				<option value="">男</option>
				<option value="0">女</option>
			</select>
		</div>
	</div>
	<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
		<ul class="layui-tab-title">
			<li class="layui-this">基本资料</li>
			<li>其他资料</li>
			<li>通讯资料</li>
			<li>备注</li>
		</ul>
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
				<div class="layui-form-item">
					<label class="layui-form-label">出身日期</label>
					<div class="layui-input-inline">
						<input type="date" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">政治面貌</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">婚姻状况</label>
					<div class="layui-input-inline">
						<select name="city" lay-verify="required">
							<option value="">未婚</option>
							<option value="0">已婚</option>
							<option value="0">离婚</option>
							<option value="0">丧偶</option>

						</select>
					</div>
					<label class="layui-form-label">入职时间</label>
					<div class="layui-input-inline">
						<input type="date" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">血型</label>
					<div class="layui-input-inline">
						<select name="city" lay-verify="required">
							<option value=""></option>
							<option value="0"></option>
							<option value="0"></option>
							<option value="0"></option>

						</select>
					</div>
					<label class="layui-form-label">转正时间</label>
					<div class="layui-input-inline">
						<input type="date" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">籍贯</label>
					<div class="layui-input-inline">
						<select name="city" lay-verify="required">
							<option value=""></option>
							<option value="0"></option>
							<option value="0"></option>
							<option value="0"></option>

						</select>
					</div>
					<label class="layui-form-label">使用时长</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					个月
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">国籍</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">离职时间</label>
					<div class="layui-input-inline">
						<input type="date" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">民族</label>
					<div class="layui-input-inline">
						<select name="city" lay-verify="required">
							<option value=""></option>
							<option value="0"></option>
							<option value="0"></option>
							<option value="0"></option>

						</select>
					</div>
					<label class="layui-form-label">技术职名</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">中文职务</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">英文职务</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">联系邮编</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">联系地址</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">联系电话</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">移动电话</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-tab-item">
				<div class="layui-form-item">
					<label class="layui-form-label">最高学历</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">到期日期</label>
					<div class="layui-input-inline">
						<input type="date" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">学位</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">入境时间</label>
					<div class="layui-input-inline">
						<input type="date" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">毕业学校</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">护照号码</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">所学专业</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">合同起始日期</label>
					<div class="layui-input-inline">
						<input type="date" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">外语水平</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">合同终止日期</label>
					<div class="layui-input-inline">
						<input type="date" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">体检日期</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">合同时长</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
						年
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
						月
					</div>
				</div>
			</div>
			<div class="layui-tab-item">
				<div class="layui-form-item">
					<label class="layui-form-label">电子邮件</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">现电话</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">户籍电话</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">现邮编</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">户籍邮编</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">现住址</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">户籍地址</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">紧急联系人</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">家庭电话</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">紧急联系邮编</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">家庭邮编</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">紧急联系电话</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">家庭住址</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">紧急联系地址</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-tab-item">
				<div class="layui-form-item">
					<label class="layui-form-label">自定义栏一</label>
					<div class="layui-input-inline">
						<select name="city" lay-verify="required">
							<option value=""></option>
						</select>
					</div>
					<label class="layui-form-label">自定义栏四</label>
					<div class="layui-input-inline">
						<select name="city" lay-verify="required">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">自定义栏二</label>
					<div class="layui-input-inline">
						<select name="city" lay-verify="required">
							<option value=""></option>
						</select>
					</div>
					<label class="layui-form-label">自定义栏五</label>
					<div class="layui-input-inline">
						<select name="city" lay-verify="required">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">自定义栏三</label>
					<div class="layui-input-inline">
						<select name="city" lay-verify="required">
							<option value=""></option>
						</select>
					</div>
					<label class="layui-form-label">自定义栏六</label>
					<div class="layui-input-inline">
						<select name="city" lay-verify="required">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">文本域</label>
					<div class="layui-input-block">
						<textarea name="desc" placeholder="请输入内容"
							  class="layui-textarea"></textarea>
					</div>
				</div>
			</div>
			<div class="layui-tab-item">内容5</div>
		</div>
	</div>
</form>
<script src="../../layui/lay/dest/layui.all.js"></script>
</body>
</html>
