<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>物料类别</title>
	<link rel="stylesheet" href="../../layui/css/layui.css">
	<link rel="stylesheet" href="../../css/ziliao/zl_wuliaoType.css">
</head>
<body style="width: 800px;padding: 10px;">
<form class="layui-form">
	<div class="layui-form-item">
		<label class="layui-form-label">类别编号</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">类别名称</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">英文名称</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">存货科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">销售收入科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">销售成本科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">发出商品科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">赠品费用科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">其它收入科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">其它费用科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">其它成本科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">备注</label>
		<div class="layui-input-block">
			<textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
		</div>
	</div>
</form>

<script src="../../layui/lay/dest/layui.all.js"></script>
<script src="../../js/ziliao/zl_wuliaoType.js"></script>
</body>
</html>
