<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>物料类别</title>
	<link rel="stylesheet" href="../../layui/css/layui.css">
	<link rel="stylesheet" href="../../css/ziliao/zl_wuliaoType.css">
	<link rel="stylesheet" href="../../css/common.css">
</head>
<body style="width: 100%;padding: 10px 20px;box-sizing: border-box;min-width: 900px;">
<form class="layui-form">
	<div class="layui-form-item">
		<div class="layui-input-block" style="margin-left: 0">
			<ul class="layui-nav" style="background-color: transparent;">
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="上一条" id="menu-prev">
						<i class="layui-icon">&#xe603;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="下一条" id="menu-next">
						<i class="layui-icon">&#xe602;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="新增" id="menu-add">
						<i class="layui-icon">&#xe654;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="修改" id="menu-update" disabled>
						<i class="layui-icon">&#xe642;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="删除" id="menu-delete">
						<i class="layui-icon">&#xe640;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="审核" id="menu-adopt" disabled="">
						<i class="layui-icon">&#xe605;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="反审核" id="menu-refuse">
						<i class="layui-icon">&#x1006;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="刷新" id="menu-refresh">
						<i class="layui-icon">&#x1002;</i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">类别编号</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" id="classid">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">类别名称</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" id="classname">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">英文名称</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" id="engnaem">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">存货科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" id="accinventoryname">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">销售收入科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" id="accsalename">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">销售成本科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" id="accsalecostname">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">发出商品科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" id="sendoutwarename">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">赠品费用科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" id="giftexpensename">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">其它收入科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" id="otherincomename">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">其它费用科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" id="otherexpensename">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">其它成本科目</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" id="othercostname">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">备注</label>
		<div class="layui-input-block">
			<textarea name="desc" placeholder="请输入内容" class="layui-textarea" id="mome"></textarea>
		</div>
	</div>
</form>

<script src="../../layui/lay/dest/layui.all.js"></script>
<script src="../../js/jquery-1.12.4.js"></script>
<script src="../../js/ziliao/zl_wuliaoType.js"></script>
<script>
	toPage();
	function toPage(page) {
		$.getJSON('/lhy/query/dsproductclass', {page: page}, function (data) {
			var obj=data.list[0];
			console.info(obj)
			$("#classid").val(obj.classid);
			$("#classname").val(obj.classname);
			$("#engnaem").val(obj.engnaem);
			$("#accinventoryname").val(obj.accinventoryname);
			$("#accsalename").val(obj.accsalename);
			$("#accsalecostname").val(obj.accsalecostname);
			$("#sendoutwarename").val(obj.sendoutwarename);
			$("#giftexpensename").val(obj.giftexpensename);
			$("#otherincomename").val(obj.otherincomename);
			$("#otherexpensename").val(obj.otherexpensename);
			$("#othercostname").val(obj.othercostname);
			$("#mome").val(obj.mome);
			if(data.hasPreviousPage){
				$("#menu-prev").attr("onclick","toPage("+data.prePage+")")
			}
			if(data.hasNextPage){
				$("#menu-next").attr("onclick","toPage("+data.nextPage+")")
			}
		})
	}
</script>
</body>
</html>
