<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>物料主文件</title>
	<link rel="stylesheet" href="../../layui/css/layui.css">
	<link rel="stylesheet" href="../../css/ziliao/zl_wuliao.css">
	<link rel="stylesheet" href="../../css/common.css">
</head>
<body style="width: 100%;padding: 10px 20px;box-sizing: border-box;min-width: 900px;">
<form class="layui-form">
	<div class="layui-form-item">
		<div class="layui-input-block" style="margin-left: 0">
			<ul class="layui-nav" style="background-color: transparent;">
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="上一条" id="menu-prev">
						<i class="layui-icon">&#xe603;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="下一条" id="menu-next">
						<i class="layui-icon">&#xe602;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="新增" id="menu-add">
						<i class="layui-icon">&#xe654;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="修改" id="menu-update"
					   disabled>
						<i class="layui-icon">&#xe642;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="删除" id="menu-delete">
						<i class="layui-icon">&#xe640;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="审核" id="menu-adopt"
					   disabled="">
						<i class="layui-icon">&#xe605;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="反审核" id="menu-refuse">
						<i class="layui-icon">&#x1006;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="刷新" id="menu-refresh">
						<i class="layui-icon">&#x1002;</i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">物料编号</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input" id="prodid">
		</div>
		<label class="layui-form-label">物料类别</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input" id="classname">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">物料名称</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input" id="prodname">
		</div>
		<label class="layui-form-label">计量单位</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input" id="unit">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">规格型号</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input" id="prodsize">
		</div>
		<label class="layui-form-label">条形码编号</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input" id="barcodeid">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">英文名称</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input" id="engname">
		</div>
	</div>
</form>
<div class="layui-tab layui-tab-brief">
	<ul class="layui-tab-title">
		<li class="layui-this" lay-id="1">基本资料</li>
		<li lay-id="2">存量总信息</li>
		<li lay-id="3">存量明细信息</li>
		<li lay-id="4">交易资料</li>
		<li lay-id="5">物料描述</li>
	</ul>
	<div class="layui-tab-content" style="height: 510px;overflow: scroll;padding: 0;">
		<div class="layui-tab-item layui-show" style="padding-top:10px;">
			<form class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label">建议售价</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="suggestprice">
					</div>
					<label class="layui-form-label">使用币别</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="currname">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">售价A</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="salespricea">
					</div>
					<label class="layui-form-label">物料形态</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="prodform">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">售价B</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="salespriceb">
					</div>
					<label class="layui-form-label">单价是否含税</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="priceoftax">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">售价C</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="salespricec">
					</div>
					<label class="layui-form-label">税目</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="taxitemsname">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">售价D</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="salespriced">
					</div>
					<label class="layui-form-label">税率</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="busitaxrate">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">售价E</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="salespricee">
					</div>
					<label class="layui-form-label">采购提前期</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="advancedays">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">标准进价</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="stdprice">
					</div>
					<label class="layui-form-label">主供应商</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="majorsuppliername">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 110px">使用批号设定</label>
				</div>
				<div class="layui-form-item" style="margin-top: -40px">
					<div class="layui-input-block" style="margin-left: 40px;">
						<div class="layui-input-inline" style="width: 400px">
							<input type="checkbox" title="使用批号管理" lay-skin="primary">
							<input type="checkbox" title="使用出厂日期" lay-skin="primary">
							<input type="checkbox" title="使用有效天数" lay-skin="primary">
						</div>
						<label class="layui-form-label">有效天数</label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" id="defvaklidday">
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="layui-tab-item" style="padding-top:10px;">
			<form class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label" style="margin-right: 200px;">期初设定</label>
					<label class="layui-form-label">当前信息</label>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">安全存量</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="safeqty">
					</div>
					<label class="layui-form-label">低于安全存量</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">期初总数量</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input">
					</div>
					<label class="layui-form-label">现有总存量</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">平均成本</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input">
					</div>
					<label class="layui-form-label">现行平均总成本</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">标准成本</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="bstdcost">
					</div>
					<label class="layui-form-label">标准总成本</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">期初总成本</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input">
					</div>
					<label class="layui-form-label">现行总成本</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input">
					</div>
				</div>
			</form>
		</div>
		<div class="layui-tab-item">
			<table class="layui-table" style="margin: 0;">
				<thead>
				<tr>
					<th>仓库编号</th>
					<th>仓库名称</th>
					<th>期初存量</th>
					<th>现有存量</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div class="layui-tab-item" style="padding-top:10px;">
			<form class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label" style="margin-right: 200px;">期初设定</label>
					<label class="layui-form-label">当前信息</label>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">最初出库日</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input"
						       onclick="layui.laydate({elem: this})" id="boutstockday">
					</div>
					<label class="layui-form-label">最近出库日</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input"
						       onclick="layui.laydate({elem: this})">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">最出入库日</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input"
						       onclick="layui.laydate({elem: this})" id="binstockday">
					</div>
					<label class="layui-form-label">最近入库日</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input"
						       onclick="layui.laydate({elem: this})">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">呆滞起记天数</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="sluggishdays">
					</div>
					<label class="layui-form-label">使用日期</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input"
						       onclick="layui.laydate({elem: this})" id="invaliddate">
					</div>
				</div>
			</form>
		</div>
		<div class="layui-tab-item" style="padding-top:10px;">
			<form class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label">自定栏1</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="udef1">
					</div>
					<label class="layui-form-label">自定栏2</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="udef2">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">物料说明</label>
					<div class="layui-input-block">
						<textarea name="desc" placeholder="请输入内容"
							  class="layui-textarea" id="proddesc"></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="../../layui/lay/dest/layui.all.js"></script>
<script src="../../js/jquery-1.12.4.js"></script>
<script src="../../js/ziliao/zl_wuliao.js"></script>
<script>
	toPage();
	function toPage(page) {
		$.getJSON('/lhy/query/dsproduct', {page: page}, function (data) {
			var obj=data.list[0];
			$("#prodid").val(obj.prodid);
			$("#prodname").val(obj.prodname);
			$("#classname").val(obj.classname);
			$("#unit").val(obj.unit);
			$("#prodsize").val(obj.prodsize);
			$("#barcodeid").val(obj.barcodeid);
			$("#engname").val(obj.engname);
			$("#suggestprice").val(obj.suggestprice);
			$("#salespricea").val(obj.salespricea);
			$("#salespriceb").val(obj.salespriceb);
			$("#salespricec").val(obj.salespricec);
			$("#salespriced").val(obj.salespriced);
			$("#salespricee").val(obj.salespricee);
			$("#stdprice").val(obj.stdprice);
			$("#currname").val(obj.currname);
			$("#prodform").val(obj.prodform);
			$("#priceoftax").val(obj.priceoftax);
			$("#taxitemsname").val(obj.taxitemsname);
			$("#busitaxrate").val(obj.busitaxrate);
			$("#advancedays").val(obj.advancedays);
			$("#majorsuppliername").val(obj.majorsuppliername);
			$("#defvaklidday").val(obj.defvaklidday);
			$("#safeqty").val(obj.safeqty);
			$("#bstdcost").val(obj.bstdcost);
			$("#boutstockday").val(obj.boutstockday);
			$("#binstockday").val(obj.binstockday);
			$("#sluggishdays").val(obj.sluggishdays);
			$("#invaliddate").val(obj.invaliddate);
			$("#udef1").val(obj.udef1);
			$("#udef2").val(obj.udef2);
			$("#proddesc").val(obj.proddesc);
			if(data.hasPreviousPage){
				$("#menu-prev").attr("onclick","toPage("+data.prePage+")")
			}
			if(data.hasNextPage){
				$("#menu-next").attr("onclick","toPage("+data.nextPage+")")
			}
		})
	}
</script>
</body>
</html>
