<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../layui/css/layui.css"/>
    <link rel="stylesheet" href="../../css/common.css">
</head>

<body style="width: 100%;padding: 10px 20px;box-sizing: border-box;min-width: 900px;">
<div id="Purchase">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left: 0">
                <ul class="layui-nav" style="background-color: transparent;">
                    <li class="layui-nav-item">
                        <a href="javascript:void(0);" class="iconfont menu-list" title="上一条" id="menu-prev">
                            <i class="layui-icon">&#xe603;</i>
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:void(0);" class="iconfont menu-list" title="下一条" id="menu-next">
                            <i class="layui-icon">&#xe602;</i>
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:void(0);" class="iconfont menu-list" title="新增" id="menu-add">
                            <i class="layui-icon">&#xe654;</i>
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:void(0);" class="iconfont menu-list" title="修改" id="menu-update" disabled>
                            <i class="layui-icon">&#xe642;</i>
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:void(0);" class="iconfont menu-list" title="删除" id="menu-delete">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:void(0);" class="iconfont menu-list" title="审核" id="menu-adopt" disabled="">
                            <i class="layui-icon">&#xe605;</i>
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:void(0);" class="iconfont menu-list" title="反审核" id="menu-refuse">
                            <i class="layui-icon">&#x1006;</i>
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:void(0);" class="iconfont menu-list" title="刷新" id="menu-refresh">
                            <i class="layui-icon">&#x1002;</i>
                        </a>
                    </li>
                    <li class="layui-nav-item" style="margin-left: 20px;">
                        <a href="javascript:void(0);">查询</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:void(0);">历史交易查询</a></dd>
                            <dd><a href="javascript:void(0);">分摊费用明细</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:void(0);">转单</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:void(0);">采购询价转入</a></dd>
                            <dd><a href="javascript:void(0);">采购订单转入</a></dd>
                            <dd><a href="javascript:void(0);">进口商业发票转入</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">供应商</label>
            <div class="layui-input-inline">
                <input type="text" name="cust" lay-verify="cust" autocomplete="off"
                       class="layui-input" readonly="readonly">
            </div>
            <label class="layui-form-label">单据日期</label>
            <div class="layui-input-inline">
                <input type="text" name="billdate" id="date"
                       placeholder="yyyy-mm-dd" class="layui-input"
                       onclick="layui.laydate({elem: this,choose:getBillNo})" readonly="readonly" name="add_overRead"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">供应商地址</label>
            <div class="layui-input-inline">
                <input type="text"  lay-verify="title" autocomplete="off"
                       class="layui-input" readonly="readonly" name="add_overRead">
            </div>
            <label class="layui-form-label">单据号码</label>
            <div class="layui-input-inline">
                <input type="text" id="billno" name="billno add_overRead" lay-verify="title" autocomplete="off"
                       class="layui-input" readonly="readonly">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">采购入库类型</label>
            <div class="layui-input-inline">
                <input type="text" name="billtype" lay-verify="billtype" autocomplete="off"
                       class="layui-input" readonly="readonly">
            </div>
            <label class="layui-form-label">币别</label>
            <div class="layui-input-inline">
                <input type="text" name="" lay-verify="title" autocomplete="off"
                       class="layui-input" value="人民币" readonly="readonly">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单价是否含税</label>
            <div class="layui-input-inline">
                <select name="shui"  disabled="disabled">
                    <option value="未税">未税</option>
                    <option value="含税">含税</option>
                </select>
            </div>
            <label class="layui-form-label">汇率</label>
            <div class="layui-input-inline">
                <input type="text" name="" lay-verify="title" autocomplete="off"
                       class="layui-input" value="0.0000" readonly="readonly">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">仓库</label>
            <div class="layui-input-inline">
                <input type="text" name="ware" lay-verify="ware" autocomplete="off"
                       class="layui-input" readonly="readonly">
            </div>
            <label class="layui-form-label">国外贸易</label>
            <div class="layui-input-inline">
                <select name="" disabled="disabled">
                    <option value="是">是</option>
                    <option value="否" selected="selected">否</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">凭证编号</label>
            <div class="layui-input-inline">
                <input type="text" name="" lay-verify="title" autocomplete="off"
                       class="layui-input" disabled="disabled">
            </div>
            <div class="layui-input-inline">
                <input type="checkbox" lay-skin="primary" name="check" value="复核后自动生成发票"
                       title="复核后自动生成发票">
            </div>
        </div>
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">内容</li>
                <li>账款</li>
                <li>备注</li>
                <a href="javascript:void(0)" id="addLine"><i class="layui-icon" style="font-size: 20px;float: right;position: relative;right: 10px;top: 8px;">&#xe654;</i></a>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div style="overflow-x: scroll;">
                        <table class="layui-table" style="width: 3000px;" id="detailinfo">
                            <thead>
                            <tr>
                                <td>(栏号)</td>
                                <td>物料编号</td>
                                <td>(物料名称)</td>
                                <td>(规格型号)</td>
                                <td>(单位名称)</td>
                                <td>数量</td>
                                <td>折扣前单价</td>
                                <td>折数(%)</td>
                                <td>单价</td>
                                <td>金额</td>
                                <td>税率(%)</td>
                                <td>(税额)</td>
                                <td>(含税金额)</td>
                                <td>批号</td>
                                <td>赠品</td>
                                <td>(发票明细)</td>
                                <td>(未发票数量)</td>
                                <td>分录备注</td>
                                <td>(来源单别)</td>
                                <td>(来源单号)</td>
                                <td>(分摊费用)</td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5">合计</td>
                                <td colspan="4">数量：</td>
                                <td colspan="2">金额：</td>
                                <td colspan="1">税额：</td>
                                <td colspan="8">含税金额：</td>
                                <td colspan="1">分摊金额：</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">账款归属</label>
                        <div class="layui-input-inline">
                            <input type="text" name=""
                                   lay-verify="title"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>
                        <label class="layui-form-label">付款日期</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input"
                                   onclick="layui.laydate({elem: this})">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">付款条件</label>
                        <div class="layui-input-inline">
                            <select name="">
                                <option value="货到">货到</option>
                                <option value="月结">月结</option>
                                <option value="次月">次月</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" style="float: left;width:95%;"
                                   class="layui-input">
                            <span style="float:left;width: 5%;padding-left: 4px;box-sizing: border-box;line-height: 38px">天</span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">账款月份</label>
                        <div class="layui-input-inline"
                             style="width:73%;">
                            <input type="text" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">自定栏一</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" readonly="readonly" name="add_overRead">
                        </div>
                        <label class="layui-form-label">自定栏二</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" readonly="readonly" name="add_overRead">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" class="layui-textarea" readonly="readonly" name="add_overRead"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">采购人员</label>
            <div class="layui-input-inline">
                <input type="text" name="person" lay-verify="" autocomplete="off"
                       class="layui-input" readonly="readonly"/>
            </div>
            <label class="layui-form-label">制单人员</label>
            <div class="layui-input-inline">
                <input type="text" name="maker" lay-verify="maker" autocomplete="off"
                       class="layui-input" readonly="readonly" value="Admin"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属部门</label>
            <div class="layui-input-inline">
                <input type="text" name="deptName" lay-verify="dept" autocomplete="off"
                       class="layui-input" readonly="readonly"/>
            </div>
            <label class="layui-form-label">复核人员</label>
            <div class="layui-input-inline">
                <input type="text" name="" lay-verify="title" autocomplete="off"
                       class="layui-input" readonly="readonly"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属项目</label>
            <div class="layui-input-inline">
                <input type="text" name="project" lay-verify="project" autocomplete="off"
                       class="layui-input" readonly="readonly"/>
            </div>
        </div>
    </form>
</div>
<div id="wrapper" style="display: none;">
    <table class="layui-table"  id="content" style="overflow-y: scroll;">
        <thead>
            <tr>
                <th>编号</th>
                <th>名称</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="../../layui/lay/dest/layui.all.js"></script>
<script>
    var dbl=false;
    var dblparam=null;
    var layer = layui.layer
    var form=layui.form();
    getLocalDate();
    if (jQuery("[name=billdate]").val() != "") {
        getBillNo();
    }
    if(jQuery("[name=person]").val()!=""){
        querySubordinateDept();
    }

    function getLocalDate() {
        var date = new Date();
        var localDate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
        jQuery("[name=billdate]").val(localDate);
    }

    function getBillNo() {
        jQuery.getJSON("/ch/getBillNo", {"date": jQuery("[name=billdate]").val()}, function (data) {
            console.info(data);
            jQuery("#billno").val(data);
        })
    }

    function queryWare() {
        jQuery.getJSON("/ch/queryWare", {}, function (data) {
            console.info(data);
            jQuery("#content tbody").empty();
            jQuery.each(data,function (i,obj) {
                var $tr=jQuery("<tr class='chooseInfo'></tr>");
                $tr.append("<td>"+obj.wareid+"</td>");
                $tr.append("<td>"+obj.warename+"</td>");
                jQuery("#content tbody").append($tr);
            })
        })
    }

    function queryBillType() {
        jQuery.getJSON("/ch/queryBillTypeByRk", {}, function (data) {
            console.info(data);
            jQuery("#content tbody").empty();
            jQuery.each(data,function (i,obj) {
                var $tr=jQuery("<tr class='chooseInfo'></tr>");
                $tr.append("<td>"+obj.classid+"</td>");
                $tr.append("<td>"+obj.classname+"</td>");
                jQuery("#content tbody").append($tr);
            })
        })
    }

    function queryPerson() {
        jQuery.getJSON("/ch/queryPerson", {}, function (data) {
            console.info(data);
            jQuery("#content tbody").empty();
            jQuery.each(data,function (i,obj) {
                var $tr=jQuery("<tr class='chooseInfo'></tr>");
                $tr.append("<td>"+obj.personid+"</td>");
                $tr.append("<td>"+obj.personname+"</td>");
                jQuery("#content tbody").append($tr);
            })
        })
    }

    function queryShort() {
        jQuery.getJSON("/ch/queryShort", {}, function (data) {
            console.info(data);
            jQuery("#content tbody").empty();
            jQuery.each(data,function (i,obj) {
                var $tr=jQuery("<tr class='chooseInfo'></tr>");
                $tr.append("<td>"+obj.id+"</td>");
                $tr.append("<td>"+obj.shortname+"</td>");
                jQuery("#content tbody").append($tr);
            })
        })
    }

    var winWrapper;
    function showWrapper(param) {
        dblparam=param;
        winWrapper= layer.open({
            type: 1,
            title: "请选择信息",
            content: $('#wrapper'),
            area: ['500px', '300px'],
            success:function(){
                if(param=="ware"){
                    queryWare();
                }else if(param=="billtype"){
                    queryBillType();
                }else if(param=="person"){
                    queryPerson();
                }else if(param=="cust"){
                    queryShort();
                }
            },
            cancel: function(index){
                layer.close(index);
            },
            end:function () {
                jQuery("#wrapper").hide();
            }
        });
    }

    jQuery("[name=cust]").dblclick(function () {
        if(dbl==true){
            showWrapper("cust");
        }
    })
    jQuery("[name=billtype]").dblclick(function () {
        if(dbl==true) {
            showWrapper("billtype");
        }
    })
    jQuery("[name=ware]").dblclick(function () {
        if(dbl==true) {
            showWrapper("ware");
        }
    })
    jQuery("[name=person]").dblclick(function () {
        if(dbl==true) {
            showWrapper("person");
        }
    })

    jQuery("#menu-add").click(function () {
        dbl = true;
        jQuery("[name=add_overRead]").removeAttr("readonly");
        jQuery("[name=shui]").removeAttr("disabled");
        form.render('select');
    })

    jQuery(document.body).on("dblclick",".chooseInfo",function () {
        var id=jQuery(this).find("td").eq(0).text();
        var name=jQuery(this).find("td").eq(1).text();
        if(dblparam=="ware"){
            jQuery("[name=ware]").val(name).attr("id",id);
        }else if(dblparam=="billtype"){
            jQuery("[name=billtype]").val(name).attr("id",id);
        }else if(dblparam=="person"){
            jQuery("[name=person]").val(name).attr("id",id);
            jQuery("[name=person]").change();
        }else if(dblparam=="cust"){
            jQuery("[name=cust]").val(name).attr("id",id);
        }
        layer.close(winWrapper)
    })
    
    function querySubordinateDept() {
        jQuery.getJSON("/ch/querySubordinateDept", {"personname": jQuery("[name=person]").val()}, function (data) {
            console.info(data);
            jQuery("[name=deptName]").val(data);
        })
    }

    jQuery("[name=person]").change(function () {
        querySubordinateDept();
    })

    var lineid=0;
    jQuery("#addLine").click(function () {
        if(dbl==true) {
            lineid++;
            var $tr = jQuery("<tr></tr>");
            $tr.append("<td>" + lineid + "</td>");
            $tr.append("<td></td>");
            $tr.append("<td></td>");
            $tr.append("<td></td>");
            $tr.append("<td></td>");
            $tr.append("<td>0</td>");
            $tr.append("<td>0.00</td>");
            $tr.append("<td>100.00</td>");
            $tr.append("<td>0.00</td>");
            $tr.append("<td>0.00</td>");
            $tr.append("<td>0.00</td>");
            $tr.append("<td>0.00</td>");
            $tr.append("<td>0.00</td>");
            $tr.append("<td><input type=\"checkbox\" lay-skin=\"primary\" name=\"iszp\"/></td>");
            $tr.append("<td><input type=\"checkbox\" lay-skin=\"primary\"/> </td>");
            $tr.append("<td><input type=\"checkbox\" lay-skin=\"primary\"/></td>");
            $tr.append("<td>0</td>");
            $tr.append("<td></td>");
            $tr.append("<td></td>");
            $tr.append("<td></td>");
            $tr.append("<td>0.00</td>");
            jQuery("#detailinfo tbody").append($tr);
            form.render("checkbox");
        }
    })
</script>
</html>