<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>销售出库单</title>
	<link rel="stylesheet" href="../../css/xiaoshou/xs_chuku.css">
	<link rel="stylesheet" href="../../layui/css/layui.css">
	<link rel="stylesheet" href="../../css/common.css">
</head>
<body style="width: 100%;padding: 10px 20px;box-sizing: border-box;min-width: 900px;">
<form class="layui-form pic-ok">
	<div class="layui-form-item">
		<div class="layui-input-block" style="margin-left: 0">
			<ul class="layui-nav" style="background-color: transparent;">
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="上一条" id="menu-prev">
						<i class="layui-icon">&#xe603;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="下一条" id="menu-next">
						<i class="layui-icon">&#xe602;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="新增" id="menu-add">
						<i class="layui-icon">&#xe654;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="修改" id="menu-update" disabled>
						<i class="layui-icon">&#xe642;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="删除" id="menu-delete">
						<i class="layui-icon">&#xe640;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="审核" id="menu-adopt" disabled="">
						<i class="layui-icon">&#xe605;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="反审核" id="menu-refuse">
						<i class="layui-icon">&#x1006;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="刷新" id="menu-refresh">
						<i class="layui-icon">&#x1002;</i>
					</a>
				</li>
				<li class="layui-nav-item" style="margin-left: 20px;">
					<a href="javascript:;">查询</a>
					<dl class="layui-nav-child">
						<dd><a href="" disabled="">历史交易查询</a></dd>
						<dd><a href="">单据状况查询</a></dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;">转单</a>
					<dl class="layui-nav-child">
						<dd><a href="">销售报价转入</a></dd>
						<dd><a href="">销售订单转入</a></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">客户</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input">
		</div>
		<label class="layui-form-label">单据日期</label>
		<div class="layui-input-inline">
			<input id="date" type="text" class="layui-input" onclick="layui.laydate({elem: this})">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">送货地址</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input">
		</div>
		<label class="layui-form-label">单据号码</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">销售出库类型</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input">
		</div>
		<label class="layui-form-label">币别</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">单价是否含税</label>
		<div class="layui-input-inline">
			<select id="shui">
				<option value="true" selected>含税</option>
				<option value="false">未税</option>
			</select>
		</div>
		<label class="layui-form-label">汇率</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">仓库</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input">
		</div>
	</div>
</form>
<div class="layui-tab layui-tab-brief">
	<ul class="layui-tab-title">
		<li class="layui-this" lay-id="1">内容</li>
		<li lay-id="2">备注</li>
	</ul>
	<div class="layui-tab-content" style="height: 300px;overflow: scroll;padding: 0;">
		<div class="layui-tab-item layui-show">
			<table class="layui-table" style="margin: 0;width: 4000px;">
				<thead>
				<tr>
					<th>栏号</th>
					<th>物料编号</th>
					<th>物料名称</th>
					<th>规格型号</th>
					<th>单位名称</th>
					<th>数量</th>
					<th>折扣前单价</th>
					<th>折数</th>
					<th>单价</th>
					<th>金额</th>
					<th>税率</th>
					<th>税额</th>
					<th>含税金额</th>
					<th>批号</th>
					<th>物料组合</th>
					<th>赠品</th>
					<th>分录备注</th>
					<th>来源单别</th>
					<th>来源单号</th>
					<th>客户订单</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div class="layui-tab-item" style="padding-top: 10px;padding-right: 10px;">
			<form class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label">自定栏1</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input">
					</div>
					<label class="layui-form-label">自定栏2</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">收款条件</label>
					<div class="layui-input-block">
						<textarea name="desc" placeholder="请输入内容"
								  class="layui-textarea"></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<form class="layui-form">
	<div class="layui-form-item">
		<label class="layui-form-label">业务人员</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input">
		</div>
		<label class="layui-form-label">制单人员</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">所属部门</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input">
		</div>
		<label class="layui-form-label">复核人员</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">所属项目</label>
		<div class="layui-input-inline">
			<input type="text" class="layui-input">
		</div>
	</div>
</form>

<script src="../../layui/lay/dest/layui.all.js"></script>
<script src="../../js/jquery-1.12.4.js"></script>
<script src="../../js/xiaoshou/xs_chuku.js"></script>
</body>
</html>