<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>销售退货单</title>
	<link rel="stylesheet" href="../../layui/css/layui.css">
	<link rel="stylesheet" href="../../css/common.css">
</head>
<body style="width: 100%;padding: 10px 20px;box-sizing: border-box;min-width: 900px;">
<form class="layui-form" action="">
	<div class="layui-form-item">
		<div class="layui-input-block" style="margin-left: 0">
			<ul class="layui-nav" style="background-color: transparent;">
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="上一条" id="menu-prev">
						<i class="layui-icon">&#xe603;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="下一条" id="menu-next">
						<i class="layui-icon">&#xe602;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="新增" id="menu-add">
						<i class="layui-icon">&#xe654;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="修改" id="menu-update" disabled>
						<i class="layui-icon">&#xe642;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="删除" id="menu-delete">
						<i class="layui-icon">&#xe640;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="审核" id="menu-adopt" disabled="">
						<i class="layui-icon">&#xe605;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="反审核" id="menu-refuse">
						<i class="layui-icon">&#x1006;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="刷新" id="menu-refresh">
						<i class="layui-icon">&#x1002;</i>
					</a>
				</li>
				<li class="layui-nav-item" style="margin-left: 20px;">
					<a href="javascript:;">查询</a>
					<dl class="layui-nav-child">
						<dd><a href="">单据状况查询</a></dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;">转单</a>
					<dl class="layui-nav-child">
						<dd><a href="">销售出库转入</a></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
	<div class="layui-row layui-col-space10">
		<div class="layui-col-md5">
			<div class="layui-form-item">
				<label class="layui-form-label">客户</label>
				<div class="layui-input-inline">
					<input type="text" name="title" required lay-verify="required"
					       placeholder="请输入供应商" autocomplete="off" class="layui-input">
				</div>
				<label class="layui-form-label">单据日期</label>
				<div class="layui-input-inline">
					<input type="text" name="title" required lay-verify="required"
					       placeholder="请输入单据日期" autocomplete="off" class="layui-input" id="riqi" name="billdate">
				</div>
			</div>
		</div>
		<div class="layui-col-md5">
			<div class="layui-form-item">

			</div>
		</div>
	</div>

	<div class="layui-row layui-col-space10">
		<div class="layui-col-md5">
			<div class="layui-form-item">
				<label class="layui-form-label">供应商地址</label>
				<div class="layui-input-inline">
					<input type="text" name="title" required lay-verify="required"
					       placeholder="请输入供应商" autocomplete="off" class="layui-input" id="dizhi">
				</div>
				<label class="layui-form-label">单据号码</label>
				<div class="layui-input-inline">
					<input type="text" name="title" required lay-verify="required"
					       placeholder="请输入单据号码" autocomplete="off" class="layui-input" id="danju">
				</div>
			</div>
		</div>


		<div class="layui-col-md5">
			<div class="layui-form-item">

			</div>
		</div>
	</div>

	<div class="layui-row layui-col-space10">
		<div class="layui-col-md5">
			<div class="layui-form-item">
				<label class="layui-form-label">单价是否税</label>
				<div class="layui-input-inline">
					<select name="city" lay-verify="required" id="hanshui" name="shui">
						<option value="0">含税</option>
						<option value="1">未税</option>
					</select>

				</div>
				<label class="layui-form-label">币别</label>
				<div class="layui-input-inline">
					<input type="text" name="title" required lay-verify="required"
					       placeholder="请输入币别" autocomplete="off" class="layui-input" id="bibie" name="curr">
				</div>
			</div>
		</div>


		<div class="layui-col-md5">
			<div class="layui-form-item">
				<label class="layui-form-label">仓库</label>
				<div class="layui-input-inline">
					<input type="text" name="title" required lay-verify="required"
					       placeholder="请输入仓库" autocomplete="off" class="layui-input" id="cangku">
				</div>
				<label class="layui-form-label">汇率</label>
				<div class="layui-input-inline">
					<input type="text" name="title" required lay-verify="required"
					       placeholder="请输入汇率" autocomplete="off" class="layui-input" id="huilv" name="exchrate">
				</div>
			</div>
		</div>
	</div>

	<div class="layui-col-md5">
		<div class="layui-form-item">
			<label class="layui-form-label">重新出库</label>
			<div class="layui-input-inline">
				<select name="city" lay-verify="required" id="chongxin">
					<option value="0">否</option>
					<option value="1">是</option>
				</select>

			</div>

			<label class="layui-form-label">国外贸易</label>
			<div class="layui-input-inline">
				<select name="city" lay-verify="required">
					<option value="0">否</option>
					<option value="1">是</option>
				</select>

			</div>
		</div>
	</div>
	</div>
	<div class="layui-col-md5">
		<div class="layui-form-item">
			<label class="layui-form-label">凭证编号</label>
			<div class="layui-input-inline">
				<input type="text" name="title" required lay-verify="required" placeholder="请输入汇率"
				       autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
</form>
	</div>


	<div>
		<form class="layui-tab layui-tab-card layui-form" style="height: 300px">
			<ul class="layui-tab-title">
				<li class="layui-this">内容</li>
				<li>账款</li>
				<li>备注</li>
			</ul>
			<div class="layui-tab-content" style="height: 250px;overflow: scroll;padding: 0px;">
				<div class="layui-tab-item layui-show">
					<table class="layui-table" style="width: 4500px;" id="detailinfo">
						<colgroup>
							<col width="150">
							<col width="200">
							<col>
						</colgroup>
						<thead>
						<tr>
							<th id="cg">(栏号)</th>
							<th>物料编号</th>
							<th>(物料名称)</th>
							<th>(规格型号)</th>
							<th>(单位名称)</th>
							<th>数量</th>
							<th>折扣前单价</th>
							<th>折数(%)</th>
							<th>单价</th>
							<th>(金额)</th>
							<th>税额(%)</th>
							<th>(税额)</th>
							<th>含税金额</th>

							<th>(未开票数量)</th>
							<th>赠品</th>

							<th>(来源单号)</th>
							<th>(来源单别)</th>
						</tr>
						</thead>
						<tbody id="list">

						</tbody>
					</table>
				</div>
				<div class="layui-tab-item">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">账款归属</label>
							<div class="layui-input-inline">
								<input style="width: 250px" type="text" class="layui-input">
							</div>
						</div>
						<div class="layui-inline" style="margin-left: 20px">
							<label class="layui-form-label">收款日期</label>
							<div class="layui-input-inline">
								<input style="width: 250px" type="text" class="layui-input"
									   placeholder="yyyy-MM-dd"
									   onclick="layui.laydate({elem:this});">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">收款条件</label>
							<div class="layui-input-inline">
								<input style="width: 250px" type="text" class="layui-input">
							</div>
						</div>
						<div class="layui-inline" style="margin-left: 20px">
							<label class="layui-form-label">账款月份</label>
							<div class="layui-input-inline">
								<input style="width: 250px" type="text" class="layui-input"
									   placeholder="yyyy-MM-dd"
									   onclick="layui.laydate({elem:this,type: 'month'});">
							</div>
						</div>
					</div>
				</div>
				<div class="layui-tab-item">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">表头条文</label>
							<div class="layui-input-inline">
								<input style="width: 250px" type="text" class="layui-input">
							</div>
						</div>
						<div class="layui-inline" style="margin-left: 20px">
							<label class="layui-form-label">自定栏一</label>
							<div class="layui-input-inline">
								<select name="city" lay-verify="">
									<option value=""></option>
								</select>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">表尾条文</label>
							<div class="layui-input-inline">
								<input style="width: 250px" type="text" class="layui-input">
							</div>
						</div>
						<div class="layui-inline" style="margin-left: 20px">
							<label class="layui-form-label">自定栏二</label>
							<div class="layui-input-inline">
								<select name="city" lay-verify="">
									<option value=""></option>
								</select>
							</div>
						</div>
					</div>
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">备注</label>
						<div class="layui-input-block">
						<textarea name="desc" placeholder="请输入内容"
								  class="layui-textarea"></textarea>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	</from>
	</div>

	<div class="layui-row layui-col-space10">
		<div class="layui-col-md5">
			<div class="layui-form-item">
				<label class="layui-form-label">业务人员</label>
				<div class="layui-input-inline">
					<input type="text" name="title" required lay-verify="required"
					       placeholder="请输入业务人员" autocomplete="off" class="layui-input" id="yewuren">
				</div>
				<label class="layui-form-label">制单人员</label>
				<div class="layui-input-inline">
					<input type="text" name="title" required lay-verify="required"
					       placeholder="请输入制单人员" autocomplete="off" class="layui-input" id="zhidanren" name="maker">
				</div>
			</div>
		</div>

		<div class="layui-row layui-col-space10">
			<div class="layui-col-md5">
				<div class="layui-form-item">
					<label class="layui-form-label">所属部门</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入所属部门" autocomplete="off" class="layui-input" id="bumen">
					</div>
					<label class="layui-form-label">复核人员</label>
					<div class="layui-input-inline">
						<input type="text" name="title" required lay-verify="required"
						       placeholder="请输入复核人员" autocomplete="off" class="layui-input" id="fuheren">
					</div>
				</div>
			</div>
			<div class="layui-col-md5">
				<div class="layui-form-item">

				</div>
			</div>
		</div>

		<div class="layui-col-md5">
			<div class="layui-form-item">
				<label class="layui-form-label">所属项目</label>
				<div class="layui-input-inline">
					<input type="text" name="title" required lay-verify="required"
					       placeholder="请输入所属项目" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
	</div>



</body>
<script src="../../layui/lay/dest/layui.all.js"></script>
<script src="../../js/jquery-1.12.4.js"></script>
<script type="text/javascript">

    var dbl=false;
    var dblparam=null;
    var layer = layui.layer
    var form=layui.form();




    function getLocalDate() {
        var date = new Date();
        var year = date.getFullYear();
        var month = (date.getMonth()+1);
        if (month < 10)
            month = "0" + month;
        var day = date.getDate();
        if (day < 10)
            day = "0" + day;
        date = year + "-" + month + "-" + day;
        jQuery("[name=billdate]").val(date);
    }

	//Demo
	layui.use('form', function () {
		var form = layui.form;
	});
	//注意：选项卡 依赖 element 模块，否则无法进行功能性操作
	layui.use('element', function () {
		var element = layui.element;

		//…
	});
	layui.form();

    toPage();
    function toPage(page) {
        var index=layer.load(1);
        $.getJSON('/zx/queryReturnsList', {page: page}, function (data) {
            layer.close(index);
            var obj=data.list[0];
            console.info(obj)

            $("#riqi").val(obj.billdate);
            $("#dizhi").val(obj.addrid);
            $("#danju").val(obj.billno);
            $("#hanshui").val(obj.priceoftax);
            $("#bibie").val(obj.currid);
            $("#cangku").val(obj.warename);
            $("#bibie").val(obj.currid);
            $("#chongxin").val(obj.isdeduct);
            $("#huilv").val(obj.exchrate);

            $("#zhidanren").val(obj.maker);
            $("#yewuren").val(obj.salesname);
            $("#bumen").val(obj.departname);
            $("#fuheren").val(obj.permitter);

            $.each(obj.details,function (j,objs) {
                $("#list").html("");
                var $row=("<td>"+(j+1)+"</td><td> "+objs.prodid+"</td><td>"+objs.prodname+"</td><td>"+objs.prodsize+"</td><td>"+objs.sunit+"</td><td>"+objs.squantity+"</td><td>"+objs.oldprice+"</td><td>"+objs.discount+"</td><td>"+objs.sprice+"</td><td>"+objs.sprice*objs.squantity+"</td><td>"+objs.taxrate+"</td></tr>");
                $("#list").append($row);

            });

            if(data.hasPreviousPage){
                $("#menu-prev").attr("onclick","toPage("+data.prePage+")")
            }else{
                $("#menu-prev").removeAttr("onclick");
            }
            if(data.hasNextPage){
                $("#menu-next").attr("onclick","toPage("+data.nextPage+")")
            }else{
                $("#menu-next").removeAttr("onclick");
            }
        })
    }

    var addorupdate=null;
    jQuery("#menu-add").click(function () {
        dbl = true;
        addorupdate="add";
        jQuery("input[type=text]").val("");
        jQuery("#detailinfo tbody").empty();

        jQuery("[name=maker]").val("Admin");
        jQuery("[name=curr]").val("人民币");
        jQuery("[name=exchrate]").val("0.0000");
        jQuery("[name=add_overRead]").removeAttr("readonly");
        jQuery("[name=shui]").removeAttr("disabled");
        form.render('select');
    })

</script>
</html>
