<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.ChDao">
    <!--查询部门 -->
    <select id="queryDepartment" resultType="T_DEPARTMENT">
        SELECT * FROM T_DEPARTMENT
    </select>

    <!--查询单据类型-->
    <select id="queryBillType" resultType="T_BILLTYPE" parameterType="int">
        SELECT * FROM T_BILLTYPE
    </select>

    <!--查询仓库 -->
    <select id="queryWareHouse" resultType="T_WAREHOUSE">
        SELECT * FROM T_WAREHOUSE
    </select>

    <!--查询当前时间最大单据号 -->
    <select id="getBillNo" resultType="long" parameterType="string">
        SELECT MAX(BILLNO) FROM T_PURCHASE_MASTER WHERE BILLDATE=#{date}
    </select>

    <!--查询采购入库单的单据类型 -->
    <select id="queryBillTypeByRk" resultType="T_BILLTYPE">
        SELECT * FROM T_BILLTYPE WHERE BILLTYPE='采购入库单'
    </select>

    <!--查询人员 -->
    <select id="queryPerson" resultType="T_PERSONNEL">
        SELECT * FROM T_PERSONNEL
    </select>

    <!--查询供应商 -->
    <select id="queryShort" resultType="T_DSDATASET1">
        SELECT  * FROM T_DSDATASET1
    </select>

    <!--查询采购人员所属部门 -->
    <select id="querySubordinateDept" resultType="string" parameterType="string">
        SELECT DEPARTNAME FROM T_DEPARTMENT WHERE DEPARTID=(SELECT DEPARTID FROM T_PERSONNEL WHERE PERSONNAME=#{personname})
    </select>
</mapper>