<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.LcDao">


    <!--人员主文件查询 !-->
<select id="queryPersonnel" resultType="com.accp.pojo.T_PERSONNEL">
    select * from t_personnel

</select>

    <!--应付冲款 !-->
    <resultMap type="com.accp.vo.lc.t_rushpayable" id="saleformMap">
        <id column="fundbillid" property="fundbillid" />
        <result column="fundbilldate" property="fundbilldate" />
        <result column="customername" property="customername" />
        <result column="cashstylename" property="cashstylename" />
        <result column="cash" property="cash" />
        <result column="visastylename" property="visastylename" />
        <result column="visa" property="visa" />
        <result column="otherpaystylename" property="otherpaystylename" />
        <result column="otherpay" property="otherpay" />
        <result column="bcurrencyname" property="bcurrencyname" />
        <result column="exchangerate" property="exchangerate" />
        <result column="discountper" property="discountper" />
        <result column="accmonthtomonth" property="accmonthtomonth" />
        <result column="voucherno" property="voucherno" />
        <result column="departnamefrom" property="departnamefrom" />
        <result column="makersign" property="makersign" />
        <result column="projectfrom" property="projectfrom" />
        <result column="fermittersign" property="fermittersign" />
        <result column="customcolumnone" property="customcolumnone" />
        <result column="customcolumntwo" property="customcolumntwo" />
        <result column="remarks" property="remarks" />
        <collection property="ru" column="fundbillid"
                    select="selectDetail"/>
        <collection property="pre" column="fundbillid"
                    select="selectT_PREPAID_DETAILED"/>
    </resultMap>
    <select id="selectT_PREPAID_DETAILED" resultType="com.accp.pojo.T_PREPAID_DETAILED">
		select * from T_PREPAID_DETAILED where fundbillid=#{0}
	</select>
    <select id="selectDetail" resultType="com.accp.pojo.T_RUSHPAYABLE_DETAILED">
		select * from T_RUSHPAYABLE_DETAILED where fundbillid=#{0}
	</select>
    <select id="queryyingfu" resultMap="saleformMap">
		select * from  T_RUSHPAYABLE
	</select>



    <!--预付款 !-->
    <resultMap type="com.accp.vo.lc.t_advancharge_VO" id="yufuMap">
        <id column="fundbillid" property="fundbillid" />
        <result column="fundbilldate" property="fundbilldate" />
        <result column="customername" property="customername" />
        <result column="cashstylename" property="cashstylename" />
        <result column="cash" property="cash" />
        <result column="visastylename" property="visastylename" />
        <result column="visa" property="visa" />
        <result column="otherpaystylename" property="otherpaystylename" />
        <result column="otherpay" property="otherpay" />
        <result column="bcurrencyname" property="bcurrencyname" />
        <result column="exchangerate" property="exchangerate" />
        <result column="discountper" property="discountper" />
        <result column="accmonthtomonth" property="accmonthtomonth" />
        <result column="voucherno" property="voucherno" />
        <result column="departnamefrom" property="departnamefrom" />
        <result column="makersign" property="makersign" />
        <result column="projectfrom" property="projectfrom" />
        <result column="fermittersign" property="fermittersign" />
        <result column="customcolumnone" property="customcolumnone" />
        <result column="customcolumntwo" property="customcolumntwo" />
        <result column="remarks" property="remarks" />
        <collection property="pan" column="fundbillid"
                    select="selectyufu"/>
    </resultMap>
    <select id="selectyufu" resultType="com.accp.pojo.T_PAYINADVANCE_DETAILED">
		select * from T_PAYINADVANCE_DETAILED where fundbillid=#{0}
	</select>
    <select id="queryyufu" resultMap="yufuMap">
		select * from T_ADVANCECHARGE
	</select>
</mapper>