<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.LfxDao">
    <select id="queryunit" resultType="com.accp.pojo.T_UNIT" >
        select * from
        (SELECT t_unit.*,rownum rn FROM t_unit
        where rownum &lt;=1000
        ORDER BY UNITID asc )
        where rn=#{page}
</select>
</mapper>