<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.LhyDao">
	<resultMap id="dsdswareamountMap" type="com.accp.vo.lhy.T_DSDSWAREAMOUNT">
		<result property="warehouseid" column="warehouseid"></result>
		<association property="warehouse" column="warehouseid" select="selectWarehouse"></association>
	</resultMap>
	<resultMap id="dsproductMap" type="com.accp.vo.lhy.T_DSPRODUCT">
		<id property="prodid" column="prodid"></id>
		<collection property="dsdswareamount" column="prodid" select="selectDsdswareamount"></collection>
	</resultMap>
	<resultMap id="personnelMap" type="com.accp.vo.lhy.T_PERSONNEL">
		<result property="departid" column="departid"></result>
		<association property="department" column="departid" select="selectDepartment"></association>
	</resultMap>
	<resultMap id="dsdssalemainMap" type="com.accp.vo.lhy.T_DSDSSALEMAIN">
		<id property="billno" column="billno"></id>
		<collection property="dsdssalesub" column="billno" select="selectDsdssalesub"></collection>
	</resultMap>
	<resultMap id="dsdssalesubMap" type="com.accp.vo.lhy.T_DSDSSALESUB">

	</resultMap>

	<select id="selectWarehouse" resultType="t_warehouse">
		select * from t_warehouse where wareid=#{0}
	</select>
	<select id="selectDsdswareamount" resultMap="dsdswareamountMap">
		select * from t_dsdswareamount where prodid=#{0}
	</select>
	<select id="selectDepartment" resultType="t_department">
		select * from t_department where departid=#{0}
	</select>
	<select id="selectDsdssalesub" resultMap="dsdssalesubMap">
		select * from t_dsdssalesub where billno=#{0}
	</select>

	<select id="queryDsproduct" resultMap="dsproductMap">
		select * from t_dsproduct
	</select>
	<select id="queryDsproductclass" resultType="t_dsproductclass">
		select * from t_dsproductclass
	</select>
	<select id="queryCustomer" resultType="t_customer_information">
		select * from t_customer_information
	</select>
	<select id="queryWarehouse" resultType="t_warehouse">
		select * from t_warehouse
	</select>
	<select id="queryPersonnel" resultMap="personnelMap">
		select * from t_personnel
	</select>
	<select id="queryDsdssalemainByDate" resultMap="dsdssalemainMap">
		select * from t_dsdssalemain where billdate=#{date}
	</select>
	<select id="queryBilltype" resultType="t_billtype">
		select * from t_billtype where billtype='销售出库单'
	</select>
</mapper>