<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.accp.dao.ZgDao">

    <!--查询部门 -->
    <select id="queryDepartment" resultType="T_DEPARTMENT">
        SELECT * FROM T_DEPARTMENT
    </select>

    <!--查询当前时间最大单据号 -->
    <select id="getBillNo" resultType="long" parameterType="string">
        SELECT MAX(BILLNO) FROM T_PURCHASE_MASTER WHERE BILLDATE=to_date(#{date},'yyyy-MM-dd')
    </select>

    <!--查询客户 -->
    <select id="queryCUSTOMERINFORMATION" resultType="T_CUSTOMER_INFORMATION">
        SELECT    * FROM    T_CUSTOMER_INFORMATION
    </select>


    <select  id="queryCustomeraccountdetails"  resultType="T_CUSTOMERACCOUNTDETAILS">
                    select    * from   t_customeraccountdetails
           </select>

        <select id="queryCUSTOMER_INFORMATION"  resultType="T_CUSTOMER_INFORMATION">
                  select     * from  t_customer_information
        </select>

    <resultMap id="AdvancereceiptMap" type="com.accp.vo.zg.AdvancereceiptVo">
        <id column="fundbillid" property="fundbillid"/>
        <result column="fundbilldate" property="fundbilldate"/>
        <result column="customerid" property="customerid"/>
        <result column="customername" property="customername"/>
        <result column="cashstylename" property="cashstylename"/>
        <result column="cash" property="cash"/>
        <result column="visastylename" property="visastylename"/>
        <result column="visa" property="visa"/>
        <result column="otherpaystylename" property="otherpaystylename"/>
        <result column="otherpay" property="otherpay"/>
        <result column="bcurrencyname" property="bcurrencyname"/>
        <result column="exchangerate" property="exchangerate"/>
        <result column="discountper" property="discountper"/>
        <result column="accmonthtomonth" property="accmonthtomonth"/>
        <result column="voucherno" property="voucherno"/>
        <result column="departnamefrom" property="departnamefrom"/>
        <result column="makersign" property="makersign"/>
        <result column="projectfrom" property="projectfrom"/>
        <result column="fermittersign" property="fermittersign"/>
        <result column="auditstatus" property="auditstatus"/>
        <result column="customcolumnone" property="customcolumnone"/>
        <result column="customcolumntwo" property="customcolumntwo"/>
        <result column="remarks" property="remarks"/>
        <collection property="details" column="fundbillid" select="getAdvancereceiptDetail"/>
    </resultMap>
    <select id="getAdvancereceipt" resultMap="AdvancereceiptMap">
         select * from t_advancereceipt
    </select>
    <select id="getAdvancereceiptDetail" resultType="T_ADVANCERECEIPTDETAILS">
        select * from t_advancereceiptdetails
    </select>

    <delete id="deleteAdvancereceipt">
          delete   from   t_advancereceiptdetails where  fundbillid=#{0};
          delete   from    t_advancereceipt where  fundbillid=#{0};
    </delete>
   <insert id="saveAdvancereceipt">
        insert into t_advancereceipt(fundbillid,fundbilldate,customerid,customername,cashstylename,cash,visastylename,visa,otherpaystylename,otherpay,bcurrencyname,exchangerate,discountper,accmonthtomonth,voucherno,departnamefrom,makersign,projectfrom,fermittersign,auditstatus,customcolumnone,customcolumntwo,remarks)
        values(#{pojo.fundbillid,jdbcType=VARCHAR},#{pojo.fundbilldate,jdbcType=DATE},#{pojo.customerid,jdbcType=VARCHAR},#{pojo.customername,jdbcType=VARCHAR},#{pojo.cashstylename,jdbcType=VARCHAR},#{pojo.cash,jdbcType=FLOAT},#{pojo.visastylename,jdbcType=VARCHAR},#{pojo.visa,jdbcType=FLOAT},#{pojo.otherpaystylename,jdbcType=VARCHAR},#{pojo.otherpay,jdbcType=FLOAT},#{pojo.bcurrencyname,jdbcType=VARCHAR},#{pojo.exchangerate,jdbcType=FLOAT},#{pojo.discountper,jdbcType=FLOAT},#{pojo.accmonthtomonth,jdbcType=DATE},#{pojo.voucherno,jdbcType=VARCHAR},#{pojo.departnamefrom,jdbcType=VARCHAR},#{pojo.makersign,jdbcType=VARCHAR},#{pojo.projectfrom,jdbcType=VARCHAR},#{pojo.fermittersign,jdbcType=VARCHAR},0,#{pojo.customcolumnone,jdbcType=VARCHAR},#{pojo.customcolumntwo,jdbcType=VARCHAR},#{pojo.remarks,jdbcType=VARCHAR});

    </insert>
    <insert id="saveAdvancereceiptdateils">
        insert into t_advancereceiptdetails(fundbillid,curprerecv,sourcelist,sourcenumber,remarks)
        values(#{temp.fundbillid,jdbcType=VARCHAR},#{temp.curprerecv,jdbcType=FLOAT},#{temp.sourcelist,jdbcType=VARCHAR},#{temp.sourcenumber,jdbcType=VARCHAR},#{temp.remarks,jdbcType=VARCHAR})
    </insert>


</mapper>