<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>首页--iERP</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
	<link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all"/>
	<link rel="stylesheet" href="../css/main.css" media="all"/>
</head>
<body class="childrenBody">
<!--欢迎使用-->
<div class="layui-form-mid
	" style="margin-top: 50px;margin-left: 50px;"><i class="layui-icon" style="font-size: 30px; color: #1E9FFF;">&#xe645;</i>欢迎使用全组开发人员地表最强、最帅开发出来的宇宙无敌ERP企业资源计划管理系统。</div>
<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>
