.layui-nav {
	background-color: transparent;
}

.layui-nav .layui-nav-item a, .layui-nav .layui-nav-item a:hover {
	color: black;
}

.layui-nav .layui-this:after {
	display: none;
}

.pic-ok {
	background-size: 100px 100px;
	background-image: url("../images/ok.png");
	background-repeat: no-repeat;
	background-position: calc(100% - 30px) 30px;
}