<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>预收款</title>
	<link rel="icon" href="../../favicon.ico">
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all"/>
	<link rel="stylesheet" href="../../css/zhangkuan/zk_yingShouChongKuan.css">
	<style>
	</style>
	<link rel="stylesheet" href="../../css/common.css">
</head>
<body style="width: 100%;padding: 10px 20px;box-sizing: border-box;min-width: 900px;">
<form class="layui-form" action="">
	<div class="layui-form-item">
		<div class="layui-input-block" style="margin-left: 0">
			<ul class="layui-nav" style="background-color: transparent;">
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="上一条" id="menu-prev">
						<i class="layui-icon">&#xe603;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="下一条" id="menu-next">
						<i class="layui-icon">&#xe602;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="新增" id="menu-add">
						<i class="layui-icon">&#xe654;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="修改" id="menu-update" disabled>
						<i class="layui-icon">&#xe642;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="删除" id="menu-delete">
						<i class="layui-icon">&#xe640;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="审核" id="menu-adopt" disabled="">
						<i class="layui-icon">&#xe605;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="反审核" id="menu-refuse">
						<i class="layui-icon">&#x1006;</i>
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="javascript:;" class="iconfont menu-list" title="刷新" id="menu-refresh">
						<i class="layui-icon">&#x1002;</i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">客户</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
		</div>
		<label class="layui-form-label">单据时间</label>
		<div class="layui-input-inline">
			<input type="date" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">结算方式一</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
			&nbsp;&nbsp;
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
		</div>
		<label class="layui-form-label">单据号码</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">结算方式二</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
			&nbsp;&nbsp;
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
		</div>
		<label class="layui-form-label">币别</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">结算方式三</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
			&nbsp;&nbsp;
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
		</div>
		<label class="layui-form-label">汇率</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">折扣率(%)</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
		</div>

	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">终止账月</label>
		<div class="layui-input-inline">
			<input type="date" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
		</div>
		<label class="layui-form-label">凭证编号</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
		</div>
	</div>
	<div class="layui-tab layui-tab-card" id="tab1">
		<ul class="layui-tab-title">
			<li class="layui-this">内容</li>
			<li>备注</li>
		</ul>
		<div class="layui-tab-content" style="height: 200px;">
			<div class="layui-tab-item layui-show">
				<table class="layui-table">
					<colgroup>
						<col width="150">
						<col width="200">
						<col>
					</colgroup>
					<thead>
					<tr>
						<th>预收金额</th>
						<th>来源别</th>
						<th>来源单号</th>
						<th>摘要</th>
					</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
			<div class="layui-tab-item ">
				<div class="layui-form-item">
					<label class="layui-form-label">自定栏一</label>
					<div class="layui-input-inline">
						<select class="layui-select" lay-verify="required">
							<option value="">请选择</option>
						</select>
					</div>
					<label class="layui-form-label">自定栏二</label>
					<div class="layui-input-inline">
						<select class="layui-select" lay-verify="required">
							<option value="">请选择</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">备注</label>
						<div class="layui-input-block">
							<textarea name="desc" placeholder="请输入内容"
								  class="layui-textarea"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">所属部门</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
		</div>
		<label class="layui-form-label">制单人员</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">所属项目</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
		</div>
		<label class="layui-form-label">复核人员</label>
		<div class="layui-input-inline">
			<input type="text" name="title" required lay-verify="required" autocomplete="off"
			       class="layui-input">
		</div>
	</div>
</form>

<script src="../../layui/lay/dest/layui.all.js"></script>
<script src="../../js/jquery-1.12.4.js"></script>
<script>
	layui.use('form', function () {
		var form = layui.form();
		form.on('select(sel)', function (data) {
			alert(data.value)
			alert(t1)
			if (data.value == 0) {
				$("#tab1").addClass(".displayblock");
				$("#tab2").removeClass(".displayblock");
				$("#tab3").removeClass(".displayblock");

			} else if (data.value == 1) {
				$("#tab1").removeClass(".displayblock");
				$("#tab2").addClass(".displayblock");
				$("#tab3").removeClass(".displayblock");
			} else if (data.value == 2) {
				$("#tab1").removeClass(".displayblock");
				$("#tab2").removeClass(".displayblock");
				$("#tab3").addClass(".displayblock");
			}
		});
	})


</script>
</body>
</html>
